$headerphoto: url(../img/header_background_v1.jpg);
$fontstyle: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$backcolor:white;
$headercolor: white;
$postdesccolor: red;
$articlebackground:  rgb(245, 245, 245);
$artheadcolor: rgb(23, 201, 162);
$bordercolor: grey;
$headingcolor:black;
$formtextcolor:  rgb(23, 201, 162);
$buttoncolor: rgb(23, 201, 162);
$maintextcolor: black;